// // stylelint-disable
$white:    #fff !default;
$black:    #000 !default;
$blue:     #3A539B !default;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$red-800: #ac1122;

$blue-500: #85aff2;

$purple-100: #d7d2dd;
$purple-500: #9873c6;
$purple-600: #84355e;

$purple-800: #322760;
$purple-900: #1f1a50;



$pink-800: #9801a5;
$pink-900: #a3015a;

// $green-500: #00ff1d;
// $green-800: #019e13;

$green-100: #E9F7EF;
$green-200: #D4EFDF;
$green-300: #A9DFBF;
$green-400: #7DCEA0;
$green-500: #52BE80;
$green-600: #27AE60;
$green-700: #229954;
$green-800: #1E8449;
$green-900: #196F3D;
$green-dark: #145A32;




$cubic-header: "all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s";
$cubic: "cubic-bezier(.77,.06,.28,.85)";