<div id="home">
    <div id="contentCanvas">
        <!-- <d3-mesh></d3-mesh> -->
        <div class="full-width">
            <div class="block-home relative display-center">
                <!-- <h1 class="mon-title" ng-bind="vm.gitUsers.login"></h1>
                <ul class="countdown">
                    <li>
                        <span class="ml-countdown value" ng-bind="vm.gitUsers.public_repos"></span>
                        <span class="unit">repos</span>
                    </li>
                    <li>
                        <span class="ml-countdown value" ng-bind="vm.gitUsers.public_gists"></span>
                        <span class="unit">gists</span>
                    </li>
                    <li>
                        <span class="ml-countdown value" ng-bind="vm.gitUsers.followers"></span>
                        <span class="unit">followers</span>
                    </li>
                    <li>
                        <span class="ml-countdown value" ng-bind="vm.gitUsers.following"></span>
                        <span class="unit">following</span>
                    </li>
                </ul> -->
                <h1 class="mon-title" ng-bind="vm.gitUsers.login"></h1>
                <h2 class="subtitle">fullstack developer</h2>
                <p class="title-desc">If brute force doesn’t solve your problems, then you aren’t using enough.</p>
            </div>
        </div>
    </div>
</div>

<section id="about" class="section-padding"  ng-include="'modules/site/templates/about.html'"></section>

<section id="skill" class="secrion-padding" ng-include="'modules/site/templates/skill.html'"></section>
