<div class="header-inner">

    <!-- Logo -->
    <div class="logo">
        <a>
            <span>Artrogeno</span>
        </a>
    </div>
    <!-- End Logo -->

    <!-- Mobile Navbar Icon -->
    <!-- <div class="nav-mobile nav-bar-icon">
        <span></span>
    </div> -->
    <!-- End Mobile Navbar Icon -->

    <!-- Navbar Navigation -->
    <div class="nav-menu">
        <ul class="nav-menu-inner" du-scroll-container="scroll-container">
            <li>
                <a class="current" scroll-to="#home" offset="0" duration="500">Home</a>
            </li>
            <li>
                <a scroll-to="#about" offset="85" duration="500">About</a>
            </li>
            <li>
                <a scroll-to="#skill" offset="85" duration="500" class="">Portfolio</a>
            </li>
            <li>
                <a href="#service" class="">Service</a>
            </li>
            <li>
                <a href="#contact-us">Contact</a>
            </li>
            <li>
                <a href="#contact-us">Resume</a>
            </li>
            <li>
                <a ui-sref="login">Admin</a>
            </li>
            
        </ul>
    </div>
    <!-- End Navbar Navigation -->


</div>