<div class="container text-center mg-b60">
    <h1>About Artrogeno</h1>
    <p class="lead-lg max-width-700">Eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
    </p>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col-md-4 content-box mb-sm-45">
            <div class="icon-top icon-gray">
                <i class="fa fa-code"></i>
            </div>
            <h4 class="title">We are Creative</h4>
            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
                justo, fringilla vel</p>
        </div>
        <div class="col-md-4 content-box mb-sm-45">
            <div class="icon-top icon-gray">
                <i class="fa fa-code"></i>
            </div>
            <h4 class="title">We have Developer</h4>
            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
                justo, fringilla vel</p>
        </div>
        <div class="col-md-4 content-box">
            <div class="icon-top icon-gray">
                <i class="fa fa-code"></i>
            </div>
            <h4 class="title">we are photography</h4>
            <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
                justo, fringilla vel</p>
        </div>
    </div>
</div>