<div class="content-page pt100 pb70">
    <div class="container pt100 pb70">
        <h2 class="section-title mb70">Skill`s</h2>
        <ul class="clients-grid mb0 column4 clearfix">
            <li>
                <img src="assets/images/cl-1.png" class="img-fluid" alt="Clients">
            </li>
            <li>
                <img src="assets/images/cl-2.png" class="img-fluid" alt="Clients">
            </li>
            <li>
                <img src="assets/images/cl-3.png" class="img-fluid" alt="Clients">
            </li>
            <li>
                <img src="assets/images/cl-4.png" class="img-fluid" alt="Clients">
            </li>
            <li>
                <img src="assets/images/cl-5.png" class="img-fluid" alt="Clients">
            </li>
            <li>
                <img src="assets/images/cl-1.png" class="img-fluid" alt="Clients">
            </li>
            <li>
                <img src="assets/images/cl-3.png" class="img-fluid" alt="Clients">
            </li>
            <li>
                <img src="assets/images/cl-5.png" class="img-fluid" alt="Clients">
            </li>
        </ul>
    </div>
</div>